

  <div class="page-wrapper chiller-theme" [ngClass]="{ toggled: showSidebar }">
    <a id="show-sidebar" class="btn btn-sm btn-dark" (click)="toggleSidebar()">
      <fa-icon [icon]="faCoffee[2]"></fa-icon>
    </a>
<app-sidebar></app-sidebar>
    <main class="page-content">
      <div class="user-details-container">
        <div class="link">Dashboard</div>
        <div class="user-detail">
          <div class="dropdown user-profile-dropdown">
            <button class="btn  dropdown-toggle user-profile-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Ali Hassan
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="user-profile-personal-information">
                <div class="user-profile-image">AH</div><div class="user-information">
                <h4>Ali Hassan</h4>
                <p>{{'alihassan@vertexitsol.com'}}</p>
              </div></li>
              <li><a class="dropdown-item" href="#"><fa-icon [icon]="itemIcons[6]"></fa-icon> Profile setting</a></li>
              <li><a class="dropdown-item" href="#"> <fa-icon [icon]="itemIcons[7]"></fa-icon>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="username-wellcome-text">
        <h3>G'Day Ali Hassan</h3>
      </div>

      <!-- <app-alert-model [message]="'This is the message dynamic'"></app-alert-model> -->
      

     
        <router-outlet />
     
    </main>
  </div>
  
  
  