<div class="comments">
    <p>Comments</p>
    <div class="current-user-comment">
        <span class="user-name">AH</span> <input type="text"  id="user-comment-input" placeholder="Enter comment Here...">
    </div>
    <div class="user-comments">
        <div class="comment">
            <span class="comment-user-img">NB</span>
        <div class="comment-meta-data"> <div class="comment-date"><span class="comment-user-name">Noman Bashir</span> <span class="comment-date">4Days ago</span></div>  
            <p class="user-comment-message">PageRank and equity to the linked page, which can help improve its search ranking and organic traffic. Google and other search engines use dofollow links as a key ranking signal and count them in their algorithm. Dofollow links are used when you want to vouch for the credibility and value of the </p>
        </div>
    </div>
    <div class="comment">
        <span class="comment-user-img">NB</span>
    <div class="comment-meta-data"> <div class="comment-date"><span class="comment-user-name">Noman Bashir</span> <span class="comment-date">4Days ago</span></div>  
        <p class="user-comment-message">PageRank and equity to the linked page, which can help improve its search ranking and organic traffic. Google and other search engines use dofollow links as a key ranking signal and count them in their algorithm. Dofollow links are used when you want to vouch for the credibility and value of the </p>
    </div>
</div>
<div class="comment">
    <span class="comment-user-img">NB</span>
<div class="comment-meta-data"> <div class="comment-date"><span class="comment-user-name">Noman Bashir</span> <span class="comment-date">4Days ago</span></div>  
    <p class="user-comment-message">PageRank and equity to the linked page, which can help improve its search ranking and organic traffic. Google and other search engines use dofollow links as a key ranking signal and count them in their algorithm. Dofollow links are used when you want to vouch for the credibility and value of the </p>
</div>
</div>
<div class="comment">
<span class="comment-user-img">NB</span>
<div class="comment-meta-data"> <div class="comment-date"><span class="comment-user-name">Noman Bashir</span> <span class="comment-date">4Days ago</span></div>  
<p class="user-comment-message">PageRank and equity to the linked page, which can help improve its search ranking and organic traffic. Google and other search engines use dofollow links as a key ranking signal and count them in their algorithm. Dofollow links are used when you want to vouch for the credibility and value of the </p>
</div>
</div>
    </div>
</div>
