<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="storyStatus" data-bs-toggle="dropdown" aria-expanded="false">
      To Do
    </button>
    <ul class="dropdown-menu story-status-option" aria-labelledby="storyStatus">
      <li><a class="dropdown-item" >Ready for Sprint</a></li>
      <li><a class="dropdown-item" >Ready for QA</a></li>
      <li><a class="dropdown-item" >Ready for Demo</a></li>
      <li><a class="dropdown-item" >Dev in Progress</a></li>
      <li><a class="dropdown-item" >To Do</a></li>

    </ul>
  </div>
  <div class="task-meta-data-section">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Details
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="task-description-data-points">
                <div class="point">
                    <span>Assignee</span> <p> <small class="assignee-img">NB</small> Noman Bashir</p>
                </div>
                <div class="point">
                    <span>Labels</span> <span > <a class="task-link">groomed</a>  <a class="task-link">Sprint-7</a> </span>  
                </div>
                <div class="point">
                    <span>Sprint</span> <span > <a class="task-link">Sprint-7</a> </span>  
                </div>
                <div class="point">
                    <span>Story Points</span> <span >  <a class="task-link">Sprint-7</a> </span>  
                </div>
                <div class="point">
                    <span>Fix Version</span> <span >  <a class="task-link">2</a> </span>  
                </div>
                <div class="point">
                    <span>Story Points</span> <span >  3 </span>  
                </div>
                <div class="point">
                    <span>Reporter</span> <p> <small class="assignee-img">SN</small>Sara Noor</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
   
      </div>

  </div>
