
    <h3> 
        CMS | Save Users Feedback and Rating</h3>
        <p class="description-heading">Description</p>

        <div class="description-text">
            <p>The proportions and arrangement of all UI elements (buttons, images, text boxes, etc.) must be thoroughly tested to ensure they adapt seamlessly to different screen sizes and maintain a visually appealing and user-friendly layout.</p>
            <h2>Layout:</h2>
            <p>UI elements (buttons, images, text boxes, etc.) must be thoroughly tested to ensure they adapt seamlessly to different screen sizes and maintain a visually appealing and user-friendly </p>
            <h3>Typography:</h3>
            <p>they adapt seamlessly to different screen sizes and maintain a visually appealing and user-friendly</p>
            <h4>Typography:</h4>
            <p>they adapt seamlessly to different screen sizes and maintain a visually appealing and user-friendly UI elements (buttons, images, text boxes, etc.) must be thoroughly tested to ensure they adapt seamlessly to different screen sizes and maintain a visually appealing and user-friendly</p>
            <h5>this is topHeading 5</h5>

            <p>they adapt seamlessly to different screen sizes and maintain a visually appealing and user-friendly UI elements (buttons, images, text boxes, etc.) must be thoroughly tested to ensure they adapt seamlessly to different screen sizes and maintain a visually appealing and user-friendly</p>
        </div>


