
  
 
  <div class="modal fade add-task--model" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <quill-editor [(ngModel)]="content"></quill-editor>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="getContent()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
