

<!-- 
@for(
user of users(); track $index
){
     <span>{{userName()}}</span>
     <br>
     @if (user>1 ){
      <span>Hello ali</span>
    
    }
    @else if(user>4 && user<6 ){
      <span>Hello Adil</span>
    }@else{
      <span>Hello Umar</span>
    }
    <br>
} @empty{
  <span>nothing in the divs </span>
} -->
<!-- @defer{
  <div>Defffered div inside angular 17</div>
}
@loading( after 500ms ; minimum 500ms){
  <div>this is the placeholder for the loading </div>
}
@placeholder (minimum 500ms){
  <div>this is the placeholder for the placeholder </div>
}
@error{
  <div>this is the placeholder for the error </div>
} -->

<router-outlet />
