<div class="login-top-bar">
    <div class="inner">
      <h1>WorkflowXpert</h1>
      <button routerLink="/login">Login</button>
    </div>
  </div>
  <div class="form-container">
    <form action="" class="form">
      <div class="form-control-section">
        <h3>Wellcome to WorkflowXpert</h3>
        <p>Please enter your details to sign up into WorkflowXpert app</p>
      </div>
      <div class="form-control-section">
        <label for="Email">Full Name</label>
        <input type="email" name="" id="email" />
      </div>
      <div class="form-control-section">
        <label for="Email">Email</label>
        <input type="email" name="" id="email" />
      </div>
      <div class="form-control-section">
        <label for="password">Password</label>
        <input type="password" name="" id="password" />
      </div>
      <div class="form-control-section">
        <label for="Email">Confirm Password</label>
        <input type="email" name="" id="email" />
      </div>
      <div class="form-control-section forget">
        <button ><a routerLink="/dashboard">Create Account</a> </button>
        
      </div>
    </form>
  </div>
  

