

<app-projectfilters></app-projectfilters>
<app-add-task-modal></app-add-task-modal>



<div class="project-task-category-containers">
    <div class="task-category-box" *ngFor="let c of [1,2,3,4,5,6,7]">
       <p class="category-name">In Progress</p>
       <div class="tasks-container">

    @if (isLoading){
        <div class="data-loader-container">
            <app-skelton-loader ></app-skelton-loader>
        </div>
        
       
    }
    @else{

        @for(
     user of [1,2,3,4]; track $index
){
    <div class="task-box" >
        <div class="task-upper-section">
         <p (click)="loadTaskData()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Stellar website Responsiveness (Footer Pages)</p> 
         <span  type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
           
              
           
           
            
            <fa-icon class="icon" [icon]="icons[0]"></fa-icon></span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" >   <fa-icon [icon]="icons[3]"></fa-icon> Edit Task</a></li>
                <li><a class="dropdown-item delete-task" >  <fa-icon [icon]="icons[4]"></fa-icon> Delete Task</a></li>
              </ul>
        </div>
        <div class="task-bottom-section">
         <span class="task-number" title="VGDMS-34"><small> <fa-icon [icon]="icons[1]"></fa-icon></small> VGDMS-34</span>
         <span class="assignee-name">A</span>
        </div>
 
 
         </div>
        
}
<div class="create-new-task" type="button" data-bs-toggle="modal" data-bs-target="#addTaskModal">
    <fa-icon [icon]="icons[2]"></fa-icon> Create new 
 </div>

      
    }
       

       
   
       </div>
    </div>
</div>



  
  <!-- Modal -->
  <div class="modal fade task-details-model" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="task-modal-header">
          <p> <img src="../../../assets/Images/story.svg" alt="">VGMS-492</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        @if(isLoadtaskData){
            <div class="model-data-loader-container">
                <app-skelton-loader ></app-skelton-loader>
            </div>
        }
        @else{
            <div class="modal-body">
                <div class="task-description-area">
                    <app-task-description></app-task-description>
                    <div class="attachments">
                        <p>Attachments</p>
                        <div class="attachment-images">
                            <img src="../../../assets/Images/project-logo-2.jpeg" alt="attachment image" *ngFor="let img of [1,2,3]">
                        </div>
                    </div>
                    <app-task-comments></app-task-comments>
              
                  
                </div>
                <div class="task-metadata">
                  <app-task-meta></app-task-meta>
                </div>
            </div>

        }
      
       
   
    
      </div>
    </div>
  </div>

